/* CLEAN THEME */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}




 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

b, strong {
  font-weight:bold;
}

i, em {
  font-style:italic;
}

/* LAYOUT */
.collayout {
}
.collayout .col-1-left  {
	float: left;
	padding-top: 20px;
	width: :;px;
	width: 225px;
}
.collayout .col-3-right {
	width: 716px;
	float: right;
}

.collayout .hometext {
  margin:25px 0 0;
}

.hometext h2 {
}

.collayout .hometext p {
  margin-bottom:10px;
}

.clearfix:before,
.clearfix:after,
#content:before,
#content:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.clearfix:after,
#content:after {
  clear: both; }
.clearfix,
#content{
  zoom: 1; }

/* GENERAL */
body {
  font-size:13px;
  line-height: 16px;
  font-family:'Lato', Georgia, serif;
  background:#fffafb
    ;
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
  height: auto;
}
a,
a:link,
a:visited {
  color:#b83082;
  text-decoration:none;
  cursor:pointer;
}
a:hover,
a:hover span{
  text-decoration:underline;
}
#header #shoplogo .logo-image-wrap {
	width: 360px;
	max-width: 100%;
	display: inline-block;
}

h1,
h2,
h3 {
  font-size:150%;
  font-style:normal;
  margin:0 0 15px 0;
  line-height:1.3em;
}

h1,
h2,
h3 {
  font-size:150%;
  font-style:normal;
  margin:0 0 15px 0;
  line-height:1.3em;
}

h4 {
  font-size:140%;
}

h5 {
  font-size:125%;
}
h6 {
  font-size:110%;
  font-style:italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'EB Garamond', Georgia, serif;
}

h1 {
  color:#b83082;
}

h2, h3, h4, h5, h6 {
  color:#b83082;
}

strong {
  font-weight:bold;
}
#header #shoplogo img {
	max-width: 100%;
}

.inline {
  display:inline;
}

.collayout .text h2 {
  margin-top:8px;
}

.collayout .text p {
  line-height:1.5em;
}

#error-page {
  padding-top:30px;
}

hr {
	height: 1px!important;
	color: #666;
	background-color: #db7093;
	margin-top: 0px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 25px;
	padding: 0px;
	border: 0px;
}

#wrap {
  width:960px;
  margin:0 auto;
}

#wrap {
	color: #666666;
}
#page-index {
	color: #666666;
	line-height: 1.45em;
}





#content.hasaside {
  float:left;
  width:715px;
}

#content.hasaside .articles {
  border-bottom: 1px dashed #db7093;
  padding:20px 0 40px 0;
}

#content.hasaside .article-single {
  padding:20px 0 25px 0;
}

#content .article_detail {
  display:block;
  float:left;
  text-align:right;
  width:150px;
  padding-bottom:20px;
}

#content .article_detail em {
  font-style: normal;
  color: #a3a3af;
}

#content .article-single .nextprev {
  font-size:100%;
  margin-top:20px;
}

#content .article-single .nextprev .next {
  float:right;
}

#aside {
  float:right;
  width:225px;
  margin-top:20px;
}




#mobile-header {
	display: block;
}
#header   {
	height: 195px;
}

#header #cart a  {
	color: #ffffff;
}
#header #shoplogo {
	min-height: 90px;
	padding: 20px 0;
	text-align: center;
	position: relative;
}
#header #shoplogo .logoImage  {
	width: 360px;
	position: center;
	display: inline-block;
	max-width: 100%;
}
#header #shoplogo .custlogin  {
	position: absolute;
	right: 0;
	top: 40px;
}
#socialBar {
	position: absolute;
	right: 0;
	top: 10px;
}
#socialBar .twitter  {
	background-position: -22px 0;
}
#socialBar .facebook  {
	background-position: 0 0;
}
#socialBar a   {
	margin-left: 7px;
	width: 22px;
	height: 0;
	padding-top: 22px;
	overflow: hidden;
	background: #b83082 0 0 no-repeat;
	border-radius: 100px;
	display: inline-block;
	transition: background-color 150ms;
}

#mobile-header {
  display: none;
  text-align: right;
  position: relative;
  left: 0;
  transition: left 250ms;
}

#mobile-header #toggle-mobile-menu {
  float: left;
  margin: 10px;
  font-size: 100%;
  line-height: 1.1em;
  padding: 7px 10px 7px 36px;
  position: relative;
  border: none;
  background: #272c30;
  color: #94a0ac;
  border-radius: 4px;
  box-sizing: border-box;
}

#mobile-header #toggle-mobile-menu span {
  position: absolute;
  left: 5px;
  margin-top: 6px;
  top: 0;
  width: 22px;
  height: 3px;
  background: #94a0ac;
}

#mobile-header #toggle-mobile-menu span.s2 { top: 6px; }
#mobile-header #toggle-mobile-menu span.s3 { top: 12px; }

#mobile-header .cartitems {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  background: #b83082;
  color: #ffffff;
  border-radius: 4px;
}

#mobile-header > ul {
  position: fixed;
  top: 0;
  left: -240px;
  width: 240px;
  transition: left 250ms;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #31373d;
  text-align: left;
  overflow: auto;
}

#mobile-header > ul a {
  font-size: 15px;
  line-height: 1.2em;
  color: #94a0ac;
  display: block;
  padding: 6px 10px;
}

#mobile-header > ul ul a {
  background: #272c30;
  padding-left: 20px;
}

#mobile-header > ul ul {
  display: none;
}

#mobile-header ul li.haschildren:before {
  content: '+';
  float: right;
  color: #94a0ac;
  padding: 6px 10px;
  position: relative;
  z-index: 10;
}

#mobile-header ul li.haschildren.reveal:before {
  content: '–';
}

#mobile-header ul ul a {
  background: #272c30;
  padding-left: 20px;
}

#mobile-header ul ul ul a {
  padding-left: 30px;
}

/* revealing the mobile nav */
#wrapthewrap {
  width: 100%;
  overflow: hidden;
}

#wrap {
  position: relative;
  left: 0px;
  transition: left 250ms;
}

.revealnav .cover-all {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
}

.revealnav #mobile-header > ul {
  left: 0px;
}
.revealnav #wrap {
  left: 240px;
}



#header #navblock   {
	font-family: 'Lato';
	line-height: 30px;
	position: relative;
}
#header #navblock ul.nav {
	display: block;
	width: 630px;
	z-index: 0!important;
}
#header #navblock ul.fullwidthnav {
	width: auto;
}
#header #navblock ul.nav li  {
	float: left;
	padding: 1px 15px 1px 0;
	font-size: 110%;
	position: relative;
}
#header #navblock ul.nav li a {
	white-space: nowrap;
	padding-bottom: 14px;
}
#header #navblock ul.nav li .notch  {
	display: none;
	position: absolute;
	z-index: 9998;
	width: 0;
	height: 0;
	top: 28px;
	left: 14px;
	border-width: 0 8px 8px 8px;
	border-style: solid;
	border-color: transparent transparent #B83082;
}
#header #navblock ul.nav ul {
	display: none;
	position: absolute;
	top: 36px;
	left: 0;
	background: #b83082;
	z-index: 9999;
	padding-bottom: 5px;
}
#header #navblock ul.nav ul li {
	margin: 5px 5px 0 5px;
	display: block;
	padding: 0;
	width: 200px;
	line-height: 16px;
}
#header #navblock ul.nav ul li a {
	color: #ffffff;
	font-size: 14px;
	display: block;
	padding: 5px;
	height: 16px;
}
#header #nablock ul.nav ul li a:hover {
	background: #b83082;
}
#header #navblock ul.nav ul ul {
  display: none;
  left: 100%;
  top: -5px;
  margin-left: 5px;
  background: #d468a9;
}

#header #navblock ul.nav ul ul li a:hover {
	background: transparent;
}
#header #navblock ul.nav ul ul:before {
	  content: ' ';
  position: absolute;
  left: -8px;
  top: 9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #d468a9 transparent transparent;
}
#header #navblock .searchcartwrap {
	float: right;
}
#breadcrumbs {
  font-family:'Lato',Arial, sans-serif;
  font-size:12px;
  margin-top:10px;
}

.search {
	display: inline-block;
	vertical-align: top;
	margin-right: 8px;
}

.search input {
	width: 154px;
	border: 1px solid #ccc;
	padding: 0 0 0 24px;
	height: 30px;
	background-color: #fff;
	background-position: 5px 7px 0 0;
	font-style: italic;
	background-size: 17px 17px, 0 0;
	color: #777;
	border-radius: 3px;
	vertical-align: top;
	background: #fff url(../../templ1/Innovate%20Theme_files/magnifier.png) 9px 9px no-repeat;
	background-image: url(../../templ1/Innovate%20Theme_files/magnifier.png), none;
}
#cart {
	height: 30px;
	display: inline-block;
	vertical-align: top;
	border-radius: 4px;
	zoom: 1;
	background: #b83082;
}
#cart .inner  {
	height: 30px;
	border-radius: 4px;
	line-height: 30px;
}
#cart .inner .cartitems {
	margin: 0 10px;
}

#aside .header {
  padding-bottom:4px;
  margin-bottom:5px;
}

#aside .header h3 {
  margin:0 0 5px 0;
  padding:0;
}

#aside .header p {
  font-weight:bold;
  font-family:Arial, sans-serif;
}

#aside .cartsummary {
  margin:0;
  padding-bottom:15px;
  margin-bottom:20px;
  border-bottom: 1px dashed #db7093;
}

#aside .cartsummary li {
  margin:10px 0;
  font-family:Arial, sans-serif;
  border-top: 1px solid #db7093;
  padding:10px 0 0;
}

#aside .cartsummary li a,
#aside .cartsummary .header p a {
  color:#666666;
}

#aside .cartsummary li a:hover,
#aside .cartsummary .header p a:hover {
  color:#b83082;
}

#aside .blogsummary {
}

#aside .miniproductlist {
  padding-bottom:15px;
  margin-bottom:20px;
  border-bottom:1px dashed #db7093;
}

.miniproductlist li {
  float: left;
  position: relative;
  margin: 0 6px 5px 0;
  width: 71px;
}

.miniproductlist li.end {
  margin-right:0;
}

.miniproductlist li .title {
  display:none;
  position:absolute;
  top:92px;
  left:0;
  background: #b83082;
  z-index:9999;
  padding:5px 8px;
  border-radius:5px;
}

.miniproductlist li .title span {
  color:#ffffff;
  line-height:16px;
  font-size:12px;
  height:16px;
  padding:5px;
}

.miniproductlist li .title .notch {
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #b83082 transparent;
}

.miniproductlist .imagecontainer {
  display:block;
  text-align:center;
  position:relative;
  z-index:9998;
}

.miniproductlist .imagecontainer img {
  display: inline;
  vertical-align: middle;
  max-width: 100%;
  -moz-box-shadow: 0 0 0 #000000;
  box-shadow: 0 0 0 #000000;
  border:#ffb6c1 1px solid;
}

.miniproductlist .img1 {
  display:block;
}

.miniproductlist .img2 {
  position:absolute;
  top:0;
  left:0;
  visibility:hidden;
  width:100%;
}

#content .pagination .page a,
#content .pagination .current  {
  display: block;
  float: left;
  margin-right: 5px;
  padding: 0 5px;
  border-radius:4px 4px 4px 4px;
  border: 1px solid #fff;
}

#content .pagination .page a  {
}

#content .pagination .current {
}

#content {
  width:100%;
  position:relative;
}

#content h1 {
  margin:20px 0;
  font-size: 200%;
}

#content h2 {
  font-size: 170%;
}

#content .pagecontent blockquote, q {
  font-size:140%;
  font-style:italic;
  line-height:1.5em;
  padding-left:30px;
  width:80%;
  margin:15px 0;
  border-left: 3px double #db7093;
  color:#a3a3af;
}

#content .collectionlist {
}

#content .collectionlist .collection {
  clear:both;
  margin-bottom:25px;
}

#content .collectionlist .collection .miniproductlist {
  margin-top:5px;
}

#content .pagecontent {
  margin: 15px 0 5px 0;
  padding: 0 0 30px;
  /*border-bottom: 1px solid #db7093;*/
}

#content .pagecontent.simple {
  background:transparent;
  padding:0;
}

#content .pagecontent ul li {
  list-style: disc outside;
  margin-left: 1.5em;
}

#content .pagecontent ol li {
  list-style: decimal outside;
  margin-left: 1.5em;
  padding-bottom: 3px;
}

#content .pagecontent img {
  max-width:100%;
  height: auto;
}

#content .pagecontent iframe {
  max-width:100%;
}

#content .pagecontent td {
  border:1px solid #666;
  padding:3px 7px;
}

#content .pagecontent th {
  border:1px dotted #666;
  padding:3px 7px;
}

#content .pagecontent p {
  margin:10px 0;
  line-height: 1.7em;
}

#content .article-body {
  margin-left:180px;
}

#content .article-body .articletags {
}

#content .article-body .articletags ul,
#content .article-body .articletags ul li {
  display:inline;
}

#content .tags,
#aside .tags {
  padding-bottom:15px;
}

#content #banners .imagelink   {
	padding-left: 1.2%;
	border-left: 1px solid #db7093;
	float: right;
	width: 31.8%;
}
#content .readmore  {
	color: #b83082;
	font-style: italic;
	margin: 0 0 15px 0;
	font-size: 90%;
	display: block;
}
.imagelink img {
	max-width: 100%;
	vertical-align: top;
}
#content .col-1-left .imagelink , #content .col-1-left .text, #aside .imagelink, #aside .text, #aside .tags{
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px dashed #db7093;
}
#content .col-1-left .date , #aside .blogsummary .date{
	color: #a3a3af;
	font-style: italic;
	margin: 5px 0;
	font-size: 90%;
	display: block;
}
#header #navblock,
#content .productlist.top,
#content #banners {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #db7093;
}

#content .tags,
#aside .tags {
  padding-bottom:15px;
}

#content .tags h3,
#aside .tags h3 {
  font-size:130%;
}

#content .tags h3 {
  display:inline;
  margin-right:15px;
}

#aside .tags ul,
#content .tags ul {
  display:inline;
}

#aside .tags li,
#content .tags li {
  display:inline;
  margin-right:10px;
  line-height: 26px;
}
  
#aside .tags a,
#content .tags a {
  padding: 0 10px 1px;
  background:#ffb6c1;
  white-space: nowrap;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
  #aside .tags .active a,
#content .tags .active a {
  background:#ffffff;
}


#content .productlist{
	margin-top:15px;
}
#content .productlist:after,
#content .productdetail:before{
	content: "'";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#content .productlist h3{
	clear: both;
}
#content .productlist.top {
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: 1px solid #db7093;
}
#content .productlist .product {
	position: relative;
	float: left;
	margin: 0 20px 24px 0;
	width: 225px;
}
#content .productlist .product.last {
	margin-right: 0;
}
#content .productlist .product .saleflag, 
#content .productimages .main .saleflag{
	position: absolute;
	top: 20px;
	right: 0;
	z-index: 9997;
	color: #ffffff;
	background: #b83082;
	line-height: 1.2em;
	font-size: 120%;
	padding: 5px 10px 7px;
	text-decoration: none;
  -webkit-transform-origin: 100% 0;  
  -webkit-transform: rotate(-90deg) translate(20px, -40px);
  -moz-transform-origin: 100% 0;  
  -moz-transform: rotate(-90deg) translate(20px, -40px);
  -ms-transform-origin: 100% 0;  
  -ms-transform: rotate(-90deg) translate(20px, -40px);
  -o-transform-origin: 100% 0;  
  -o-transform: rotate(-90deg) translate(20px, -40px);
	transform-origin:100% 0;
	transform: rotate(-90deg) translate(20px, -40px);
}
#content .productlist .product .saleflag:after,
#content .productimages .main .saleflag:after {
  content: ' ';
  position: absolute;
  right: 100%;
  margin-right: -1px;
  top: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 16px 16px 0;
  border-color: transparent #b83082 transparent transparent;
}
#content .productlist .product .saleflag:before,
#content .productimages .main .saleflag:before {
  content: ' ';
  position: absolute;
  right: 100%;
  margin-right:-1px;
  bottom: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 16px 16px;
  border-color: transparent transparent #b83082 transparent;
}
#content .productlist .product .imagecontainer {
  display:block;
  min-height:100px;
  text-align:center;
  position:relative;
  border:#ffb6c1 1px solid;
  background:#fcd6dd;
  overflow:hidden;
}
#content .productlist .product .imagecontainer .inner {
  display:inline-block;
  zoom:1;
  *display:inline;
  position:relative;
  max-width: 100%;
}
#content .productlist .product .imagecontainer img.prodimg {
  max-width: 100%;
  vertical-align:middle;
  /*margin-bottom:-5px;*/
  -moz-box-shadow: #000 0em 0em 0em; /* Fix rendering size bug in FF */
  box-shadow: #000 0em 0em 0em;
}

#content .productlist .product .imagecontainer .img2{
	visible: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#content .productlist .product .imagecontainer .img2 img.prodimg {
  max-height: 101%;
  width: auto;
  height: auto;
}
#content .productlist .product .desc {
	height: 40px;
	margin-top: 2px;
	line-height: 1.1em;
	overflow: hidden;
  }
#content .productlist .product .desc a:hover {
	text-decoration: none;
}
#content .productlist .product .foot{
	margin-top: 10px;
	height: 30px;
}
#content .productlist .product .foot .price {
	font-size: 140%;
	font-weight: normal;
	color: #666666;
	position: relative;
	height: 30px;
}
#content .productlist .product .foot .price .amount {
	position: absolute;
	bottom: 0;
	left: 0;
}
#content .productlist .product .foot .price .amount .from{ 
	font-size: 70%;
	color: #666666;	
}
#content .productlist .product .foot .price .amount .reducedrrom {
	font-size: 70%;
	color:#666666;
	position: absolute;
	line-height: 30px;
	text-decoration: line-through;
}
#content .productlist .product .foot .buttoncont{
	position: absolute;
	right: 0;
	bottom: 0;
}
.buttoncont {
	display: block;
	margin: 0;
	width: 92px;
	border-radius: 4px;
	background: #b83082;
}

.buttoncont a, .buttoncont input{
	display: block;
	width: 100%;
	height: 30px;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
	font-size: 90%;
	font-family: inherit;
	background: transparent;
	border: 0;
	padding: 0;
	cursor: pointer;
	border-radius: 4px;
}

#content .productimages {
  width:388px;
  float:left;
  position:relative;
}

#content .productimages .main {
  background:#fcd6dd;
  position:relative;
  overflow:hidden;
  text-align:center;
  border:1px solid #ffb6c1;
  background:#fcd6dd;
}

#content .productimages .main a {
  display:inline-block;
  zoom:1;
  *display:inline;
  position:relative;
  max-width:100%;
}

#content .productimages .main img {
  vertical-align:middle;
  max-width:100%;
  display:inline;
}

#content .productimages .thumbs {
  margin-top:25px;
  margin-bottom:25px;
  padding:0px;
  text-align:center;
}

#content .productimages .thumbs li {
  display:inline-block;
  zoom:1;
  *display:inline;
}

#content .productimages .thumbs a {
  display:block;
  text-align:center;
  margin:0 7px 9px 0;
  width:64px;
}

#content .productimages .thumbs a img {
  vertical-align:middle;
  max-width:100%;
  max-height:100%;
  display:inline;
  border:1px solid #ffb6c1;
  background:#fcd6dd;
}

#content .productimages .thumbs .last,
#content .productimages .thumbs .fifth {
  margin-right:0px;
}


#content .productdetail {
  float:right;
  width:522px;
}

#content .productdetail .variants .selector-wrapper {
  margin:10px 0;
  clear:both;
}

#content .productdetail .variants .selector-wrapper label {
  float:left;
  width:100px;
}

#content .productdetail .variants li {
  margin:5px 0;
}

#content .productdetail .variants li label {
  margin-left:10px;
}

#content .productdetail .variants li label .was {
  text-decoration:line-through;
  color:#666666;
}

#content .productdetail .variants select {
  min-width:150px;
  padding:3px;
  -webkit-appearance: menulist-button;
}

#content .productdetail .variants #price-field {
  font-size: 180%;
  margin: 20px 0 0;
}

#content .productdetail .variants #price-field .was-price {
  margin-left:5px;
  font-size: 70%;
  font-style: italic;
  text-decoration: line-through;
}

#content .productdetail .buttoncont {
  margin:15px 0;
}

#content .productdetail .buttoncont.disabled {
  visibility:hidden;
}

#content .productdetail .description {
  margin:20px 0 30px 0;
  border-top:1px dashed #db7093;
  padding-top:20px;
}

#content .productdetail .description p {
  margin:0 0 20px 0;
  line-height: 1.7em;
}

#content .productdetail .description embed,
#content .productdetail .description iframe,
#content .productdetail .description img {
  max-width:100%;
}

#content .productdetail ul.links li {
  border-top:1px solid #bbb;
  padding-left:20px;
  background:url('//cdn.shopify.com/s/files/1/0093/1302/t/5/assets/read_more_arr_plush.png?12876611285765844301') 2px center no-repeat;
}

#content .productdetail ul.links li.last {
  border-bottom:1px solid #bbb;
}

#content .productdetail ul.links li a {
  display:block;
  height:33px;
  line-height:33px;
}


#content .productdetail .quantity  {
	margin: 20px 0 10px 0;
}

form .variants .price-field {
}


#content #banners {
	position: relative;
}



#content #basket {
  margin-top:15px;
  width:100%;
}

#content #basket .headings {
  border-bottom:1px dashed #db7093;
  font-size:140%;
  color:#b83082;
  text-align:left;
  padding-bottom:10px;
}

#content #basket .headings div,
#content #basket .cartitem div {
  float:left;
}
#content #basket .cartitem div {
  padding: 20px 0;
}

#content #basket .description {
  width:56%;
}

#content #basket .price,
#content #basket .qty,
#content #basket .delete,
#content #basket .total {
  width:11%;
}

#content #basket .basket-odd .cartitem,
#content #basket .basket-even .cartitem {
  border-bottom:1px solid #db7093;
}

#content #basket .cartitem .image {
  float:left;
}

#content #basket .cartitem .image img {
  border:#ffb6c1 1px solid;
  display:block;
}

#content #basket .cartitem .description p {
  margin-left: 130px;
}

#content #basket .cartitem .description .title {
  display:block;
  font-size:120%;
  margin:10px 0;
}

#content #basket .cartitem .description .custom {
  display:block;
  font-style: italic;
  margin: 0 0 5px;
}

#content #basket .cartitem .amount {
  font-size:110%;
  color:#666666;
}
#content #basket .cartitem .amount del{
  font-size:90%;
  color:#666666;
}

#content #basket .cartitem .qty label {
  display:none;
  margin-right:5px;
}

#content #basket .cartitem .qty input.qty {
  padding:5px;
  width:35px;
  background:#fff;
  border:1px solid #555;
}

#content #cartform .subtotal {
  padding-top:10px;
  text-align:right;
}

#content #cartform .subtotal .note {
  position:absolute;
  left:0;
}

#content #cartform .subtotal .note label {
  vertical-align:top;
}

#content #cartform .subtotal .note textarea {
  width:300px;
  padding:10px;
  margin-left:5px;
  max-width:100%;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  box-sizing:border-box;
}

#content #cartform .subtotal .total {
  font-size:140%;
  color:#666666;
}

#content #cartform .subtotal .amount {
  font-size:140%;
  color:#666666;
  font-weight: normal;
  margin-left: 5px;
}

#content #cartform .subtotal .buttons {
  margin:13px 0;
  padding:17px 0;
  border-top:1px dashed #db7093;
  position:relative;
}

#content #cartform .subtotal .buttoncont {
  margin-left:10px;
  margin-bottom:5px;
  display: inline-block;
  zoom:1;
  *display:inline;
}

#content #cartform .subtotal .additionalbutton {
  clear:both;
  padding-top: 10px;
}

#content .searchresults li {
  border-top:#db7093 solid 1px;
  padding:15px 0;
}

#content .searchresults li.first {
  border-top:0;
}

#content .searchresults li .image {
  float:left;
}

#content .searchresults li .desc {
  margin-left:70px;
}

#content .searchresults li .desc span {
  display:block;
  text-align:right;
  padding:10px 10px 0 0;
}

#footer   {
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid #db7093;
	clear: both;
	padding-bottom: 100px;
}
#footer .navcol {
	margin-bottom: 10px;
	text-align: center;
}
#footer .navcol li  {
	display: inline;
}
#footer .navcol li a {
	margin: 0 10px;
	padding: 8px 0;
}
#footer .signupcol  {
	float: left;
	text-align: right;
	/* [disabled]width: 40%; */
}
#footer .signupcol input[type=email] {
	padding: 4px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-right: 5px;
}
#footer .signupcol .buttoncont {
	vertical-align: top;
	display: inline-block;
}

#footer .signupcol form {
}

#footer .iconcol {
	float: right;
	text-align: right;
}

#footer .credits {
	padding-top: 35px;
	clear: both;
	color: #666666;
	font-size: 11px;
}

/* IE6, IE7, IE8 */


.clearit {
  clear:both;
  line-height:0;
  padding:0;
  margin:0;
  font-size:0px;
}

/* Media queries for responsive framework */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  #content .productlist .product .foot {
	height: auto;
  }
  
  #content .productlist .product .foot .buttoncont {
    margin-top:10px;
  }
  
  #content .productlist .product .foot .buttoncont,
  #content .productlist .product .foot .buttoncont a,
  #content .productlist .product .foot .buttoncont input.addbutton {
	position: relative;
	width: 100%;
	padding-top: 4px;
	padding-left: 0px;
	padding-bottom: 0px;
	background-repeat: repeat;
	text-align: center;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #wrap {
	width: 728px;
  }
  
  .collayout .col-1-left,
  #aside {
	width: 167px;
  }
  
  .collayout .col-3-right,
  #content.hasaside {
	width: 541px;
  }
  
  #content .productlist .product {
	width: 167px;
  }
  #content .productlist .product.last{
	margin: 0;
  }
  
  #content .productimages {
    width: 315px;
  }
  #content .productdetail {
    width: 385px;
  }
  
  .miniproductlist li {
    margin-right: 3px;
    width: 53px;
  }
  
  #footer .signupcol {
    width: 40%;
  }
  
  #footer .iconcol {
    width: 36%;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .collayout .col-1-left,
  .collayout .col-3-right,
  #header #navblock ul.nav,
  #content.hasaside,
  #aside,
  #content #banners .slidecontainer,
  #content #banners .imagelink,
  #content .productimages,
  #content .productdetail,
  #customer_sidebar,
  #order_address,
  #customer_orders,
  #order_details,
  #guest,
  #footer .navcol,
  #footer .signupcol,
  #footer .iconcol {
    float: none;
    width: auto;
    margin: 10px 0;
    clear: both;
  }
  
  #wrap {
    width: auto;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
  
  #breadcrumbs,
  #content,
  #content.hasaside,
  #aside,
  #footer {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #mobile-header {
    display: block;
  }
  
  #header {
    margin:0 10px 0;
  }
  
  #footer {
    padding-top:30px;
  }
  
  #header #shoplogo {
    text-align:center;
    padding-top:10px;
    min-height:0;
    margin-left: 0;
    position:static;
  }
  
  #header .custlogin {
    display: none;
  }
  
  #header #custlogin a {
  }
  
  #header .social-icons {
    position: static;
    text-align: center;
    margin: 10px 0;
  }
  
  #header #shoplogo #cartwrapper {
    position:static;
  }
  
  #header #navblock {
    position: static;
    text-align: center;
  }
  
  #header #navblock ul.nav {
    display: none;
  }
  
  #header #navblock .searchcartwrap {
    float: none;
  }
  
  #header #cart {
    display: none;
  }
  
  #header .search {
    margin: 0;
  }
  
  #content #banners {
    height:auto;
    padding-bottom:0;
    background-image:none;
  }
  
  #content #banners .imagelink {
    margin-top: 20px;
  }
  
  #breadcrumbs .social {
    margin: 14px 0;
    float: none;
  }
  
  #content .imagelink,
  #content #banners .imagelink,
  #content .col-1-left .imagelink,
  #aside .imagelink {
    height:auto;
    text-align:center;
    padding:0 0 24px 0;
    border:0;
  }
  
  #content .col-1-left .imagelink {
    display:none;
  }
  
  #content .productlist .product {
	width: 100%;
	padding: 0 0 50px 0;
	margin: 0;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
	box-sizing: border-box;
  }
  
  #content .productlist .product .imagecontainer .img2 img {
    display:none !important;
  }

#content .tags,
#aside .tags {
  padding-bottom:15px;
}

#content .tags h3,
#aside .tags h3 {
  font-size:130%;
}

#content .tags h3 {
  display:inline;
  margin-right:15px;
}

#aside .tags ul,
#content .tags ul {
  display:inline;
}

#aside .tags li,
#content .tags li {
  display:inline;
  margin-right:10px;
  line-height: 26px;
}
  
#aside .tags a,
#content .tags a {
  padding: 0 10px 1px;
  background:#ffb6c1;
  white-space: nowrap;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
  #aside .tags .active a,
#content .tags .active a {
  background:#ffffff;
}
  
  #content .productlist .product .foot .buttoncont,
  #content .productdetail .buttoncont {
	width: 200px;
  }
  
  #breadcrumbs .text {
    display:none;
  }
  
  #breadcrumbs .social .rss {
    margin-right:0;
  }
  
  #content .article_detail {
    text-align:left;
    float:none;
    width:auto;
  }
  
  #content .article-body {
    margin-left:0;
  }
  
  #content #basket .headings {
    display:none;
  }
  #content #basket .description {
    width:100%;
  }
  #content #basket .price {
    display:none;
  }
  #content #basket .cartitem .qty label {
    display:inline;
  }
  #content #basket .qty,
  #content #basket .delete,
  #content #basket .total {
    width:33.3%;
    text-align:center;
  }
  #content #cartform .subtotal .note {
    position:relative;
    padding:20px 0;
  }
  #content #cartform .subtotal .buttoncont {
    margin-left:0;
  }
  

  
  #content .buttoncont a,
  #content .buttoncont input {
    height:45px;
    line-height:45px;
    font-size:120%;
  }
  
  #content #basket .cartitem .description .desc {
    display:none;
  }
  
  #content #cartform .subtotal .buttons {
    padding-bottom:30px;
  }


  
  .user-form dt {
    display:block;
    float:none;
    width:auto;
  }
  
  .user-form dd {
    width:auto;
    float:none;
    margin-top:0;
  }
  
  .comment-block {
    padding-left:0;
  }
  .miniproductlist li {
    width:11.1%;
    padding-right:10px;
    margin:0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
  }
  
  .customer_address_table {
    width:100%;
  }
  
  .customer_address_table .value .address_form,
  .customer_address_table .value select {
    width: 100%;
    box-sizing:border-box;
  }
  
  #footer h4 {
    margin-top:20px;
  }
  
  #footer .social {
    text-align:center;
    margin-left:0;
  }
  
  #footer .social a {
    margin:0 5px;
  }
  
  #footer .signupcol form {
    padding-left:0;
    text-align:center;
  }
  
  #footer .iconcol {
    text-align: center;
  }
  
  #footer .credits {
    text-align:center;
    padding-top: 0;
  }
  
  #footer .cards {
    float:none;
    margin-top:20px;
  }
  
  .addToCartPopup {
    margin-left: 0 !important;
    left: 20px;
    right: 20px;
    padding: 15px;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .miniproductlist li {
    width:33.3%;
    padding-bottom:10px;
  }
}

/* High DPI devices get some graphical upgrades */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
  
  .social-icons a {
    background-image:url('//cdn.shopify.com/s/files/1/0093/1302/t/5/assets/social_spr_white_2x.png?12876611285765844301');
    -moz-background-size:221px 22px;
    -ie-background-size:221px 22px;
    -o-background-size:221px 22px;
    -webkit-background-size:221px 22px;
    background-size:221px 22px;
  }
  
}
